.buttonContainer button {
  min-width: auto;
  margin: 0;
  padding: 1rem;
}

.buttonContainer button svg {
  width: 2rem;
  height: 2rem;
}

.responsiveTable {
  overflow-x: auto;
  border-radius: 0.8rem;
}

.responsiveTable table {
  width: 100%;
  min-width: 64rem;
  font-size: 1.6rem;
  border-collapse: collapse;
}

.responsiveTable table th {
  background-color: var(--gray-600);
}
.responsiveTable table td {
  background-color: var(--gray-800);
}

.responsiveTable table th,
.responsiveTable table td {
  border-bottom: 0.2rem solid var(--gray-700);
  text-align: left;
  padding: 1.6rem;
}

.thSort {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.thSort:hover {
  filter: brightness(80%);
}

.textCenter {
  text-align: center;
}
